<aside class="aside aside-global">
  <article class="item">
    <header>
      <h1>Acerca de</h1>
    </header>
    {{ site.description | markdownify }}
  </article>
  <article class="item">
    <header>
      <h1>Artículos</h1>
    </header>
    {% assign posts = site.posts %}
    {% for post in posts limit: 3 %}
    <div class="">
      {% include post-excerpt.html %}
    </div>
    {% endfor %}
  </article>
  <article class="item">
    <header>
      <h1>Información de contacto</h1>
    </header>
    {{ site.description }}
  </article>
</aside>
