<h2>Servicios</h2>
{% assign servicios = site.servicios | where: 'language', page.language %}
{% for servicio in servicios %}
<article>
  <header>
    {% assign image = page.image | split: '/' | last %}
    <picture>
			<source srcset="/assets/images/medium/{{ image }}" media="(min-width: 60em)">
      <source srcset="/assets/images/large/{{ image }}" media="(min-width: 120em)">
		  <img src="/assets/images/small/{{ image }}" title="{{ page.title }}" alt="">
		</picture>
    <h1>{{ servicio.title }}</h1>
  </header>
  {{ servicio.excerpt }}
</article>
{% endfor %}
