.header.header-global {
  position: sticky;
  top: 0;
  background-color: white;
  grid-column: 1/-1;
  display: flex;
  flex-flow: column wrap;
  box-shadow: 0 3px 5px fade-out($black, 0.4);
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  .logo {
    margin-bottom: 0.5rem;
    img {
      margin: 0 auto;
    }
  }

  nav {
    h1 {
      display: none;
    }
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 3rem;
      li {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-weight: bold;
        a {
          text-decoration: none;
          color: $black;
        }
      }
    }
  }
}

@media screen and (min-width: 60em) {
  .header.header-global {
    flex-flow: row;
    .logo {
      flex: 1;
    }

    nav {
      flex: 2;
      ul {
        justify-content: space-around;
        height: 100%;
      }
    }
  }
}
