.servicio {
  h1 { font-size: 2.0625rem; }
  h2 { font-size: 1.5625rem; }
  h3 { font-size: 1.3125rem; }
  h4, h5, h6 { font-size: 1rem; }
  p { font-size: 0.9375rem; }
  article {
    margin-top: 1rem;
    padding: 0 1rem;
  }
}

.servicio {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.20;
    padding: 0;
    margin: 20px 0 10px 0;
    font-weight: 700;
    a {
      text-decoration: none;
      color: $black;
    }
  }
}
