<!DOCTYPE html>
<html lang="{{ page.lang | default: "es" }}">

  {% include head.html %}

  <body class="frontpage">

    {% include main-menu.html %}

    <main>
      {{ content }}

      <section id="servicios">
        {% include main-servicios.html %}
      </section>

      <section id="testimonios">
        {% include main-testimonios.html %}
      </section>

      <section id="values">
        {% include main-values.html %}
      </section>
    </main>

    {% include main-aside.html %}

    {% for inc in page.foot-includes %}
      {% include {{ inc }} %}
    {% endfor %}

  </body>
</html>
