---
layout: default
---

<article class="post{% if page.tags contains 'entrevistas' %} entrevista{% endif %}">
  <header>
    {% assign image = page.image | split: '/' | last %}
    <picture>
			<source srcset="/assets/images/medium/{{ image }}" media="(min-width: 60em)">
      <source srcset="/assets/images/large/{{ image }}" media="(min-width: 120em)">
			<img src="/assets/images/small/{{ image }}" title="{{ page.title }}" alt="">
		</picture>
    <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
		<p class="post-details">
			<meta itemprop="description" content="{{ page.excerpt | strip_html }}"/>

			<span itemprop="author" itemscope itemtype="http://schema.org/Person">by <span itemprop="name">{{ page.author }}</span></span>

			<time class="pubdate updated" datetime="{{ page.date }}" itemprop="datePublished">{{ page.date | date: "%-d %^b %Y" }}</time>
			<meta itemprop="dateModified" content="{{ page.date }}">

		</p>

  </header>

  <section class="content">
  {{ content }}
  </section>
</article>
