---
layout: default
---

{{ content }}

{% if page.paquetes %}
<h2>Paquetes</h2>
  {% for paquete in page.paquetes %}
    {% assign tarifa = site.tarifas | where: "title", paquete %}
    <div class="paquete">
      <p>{{ tarifa[0].title }}</p>
      <p>{{ tarifa[0].price }}</p>
      <ul>
      {% for text in tarifa[0].item %}
       <li>{{ text.description }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endfor %}
{% endif %}

{% if page.contratacion %}
<div class="contratacion">
  <h2>Instrucciones de contratación</h2>
  {{ page.contratacion | markdownify }}
</div>
{% endif %}
