* {
  box-sizing: border-box;
}

stong, b { font-weight: bold; }
em, i { font-style: italic; }

img {
  max-width: 100%;
  display: block;
}

a {
  transition:all 0.2s ease-in-out;
  &:hover {
    color: $dark-blue;
  }
}
