$base-blue: (212,61%,43%);
$light-blue: (212, 100%, 97%);
$dark-blue: (212,65%,36%);
$gray: (212, 0%, 88%);
$black: (212, 0%, 12%);

body {
  color: hsl($black);
}

.main-aside {
  background-color: hsl($base-blue);
  color: hsl($gray);
}

#values {
  background-color: hsl($light-blue);
}
