--base-blue: 212,61%,43%;
--light-blue: 212, 100%, 97%;
--dark-blue: 212,65%,36%;
--gray: 212, 0%, 88%;
--black: 212, 0%, 12%;

body {
  color: hsl(var(--black));
}

.main-aside {
  background-color: hsl(var(--base-blue));
  color: hsl(var(--gray));
}

#values {
  background-color: hsl(var(--light-blue));
}
