/*body {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
}

nav,
.main-aside { grid-column: 1/-1;}
main { grid-column: 2; }*/

.main-aside
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  article {
    flex: 300px 1 0;
    margin: 0 1rem;
    margin-bottom: 1rem;
  }
}
#values {
  display: grid;
}

@media screen and (min-width: 60em) {
  #values {
    grid-template-columns: 1fr 1fr;
  }
}
