.head {
  grid-column: 2;
  display: flex;
  flex-flow: column wrap;
  .logo {
    img {
      margin: 0 auto;
    }
  }

  #main-menu {
    h1 {
      display: none;
    }
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 3rem;
      li {

      }
    }
  }
}

@media screen and (min-width: 60em) {
  .head {
    flex-flow: row;
    .logo {
      flex: 1;
    }

    #main-menu {
      flex: 2;
      ul {
        justify-content: space-around;
        height: 100%;
      }
    }
  }
}
