.head {
  display: flex;
  flex: 1;
}

#main-menu {
  ul {
    display: flex;
    justify-content: center;
    li {

    }
  }
}

@media screen and (min-width: 60em) {
  .head {
    flex: auto;
    justify-content: space-between;
  }
  #main-menu {
    ul {
      justify-content: flex-end;
    }
  }
}
