.posts-list {
  display: flex;
  flex-direction: column;
}

.post {
  font: 1rem/1.5 'Merriweather', serif;
  font-variant-ligatures: common-ligatures;
  hyphens: auto;
  hyphenate-limit-lines: 2;
  hyphenate-limit-chars: 6 3 2;
  hyphenate-limit-zone: 8%;
  hyphenate-limit-last: always;

  header {
    text-align: center;
    margin-bottom: 2rem;

    img {
      margin: 0 auto;
    }
  }

  .post-details {
    font-size: 0.85rem;
  }

  .content {
    p:first-of-type::first-line {
      //font-variant: all-small-caps;
      //font-weight: bold;
    }
  }

  .pregunta {
    font-style: italic;
    font-weight: bold;
  }

  hr {
    height: 1em;
    border: 0;
    background: url(/assets/images/fleuron.svg) center no-repeat;
    background-size: contain;
  }

  hr + p {
    font-weight: lighter;
  }

}

.posts.excerpt {

}

@media screen and (min-width: 60em) {
  .post {
    img {
      max-width: 38em;
    }
  }
}
